.App{
    background-image: url('./assets/b.jpeg'); /* Cambia por la ruta de tu imagen */
  background-size: cover; /* Asegura que la imagen cubra toda el área de la pantalla */
  background-attachment: fixed; /* Fija la imagen al fondo, para que no se desplace */
  background-position: center; /* Centra la imagen en el fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  
}

